
$marvel-red: #ed1d24;
$marvel-blue: #0078d4;

$marvel-pattern: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));



.clear-team-button,
.fight-button {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: $marvel-red;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: $marvel-pattern;
  }

  &:hover {
    background-color: darken($marvel-red, 10%);
  }
}

.fight-button {
  background-color: $marvel-blue;

  &:hover {
    background-color: darken($marvel-blue, 10%);
  }
}
