@font-face {
  font-family: 'Avengeance';
  src: url('../../fonts/avengeance/AvengeanceHeroicAvengerNormal-Bz7d.ttf');
}
.Title {
  font-size: 40px;
  text-transform: uppercase;
  //   font-family: 'Avengeance', 'serif';
}
